<html>
  <head>
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com/"
      crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Space+Grotesk%3Awght%40400%3B500%3B700" />

    <title>Galileo Design</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex size-full min-h-screen flex-col bg-[#121118] dark group/design-root overflow-x-hidden"
      style="font-family: 'Space Grotesk', 'Noto Sans', sans-serif">
      <div class="layout-container flex h-full grow flex-col">
        <header
          class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#2b2938] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              <svg
                viewBox="0 0 48 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6_535)">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M47.2426 24L24 47.2426L0.757355 24L24 0.757355L47.2426 24ZM12.2426 21H35.7574L24 9.24264L12.2426 21Z"
                    fill="currentColor"></path>
                </g>
                <defs>
                  <clipPath id="clip0_6_535">
                    <rect width="48" height="48" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <h2
              class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">
              Split Sound
            </h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a
                class="text-white text-sm font-medium leading-normal"
                href="#"
                >Home</a
              >
              <a
                class="text-white text-sm font-medium leading-normal"
                href="#"
                >Explore</a
              >
              <a
                class="text-white text-sm font-medium leading-normal"
                href="#"
                >Create</a
              >
            </div>
            <button
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#3b19e6] text-white text-sm font-bold leading-normal tracking-[0.015em]">
              <span class="truncate">Upload</span>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style="
                background-image: url('https://cdn.usegalileo.ai/stability/7aa6e317-6c1b-4684-9e5a-8049fadf8f55.png');
              "></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div
            class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-start justify-end px-4 pb-10 @[480px]:px-10"
                  style="
                    background-image: linear-gradient(
                        rgba(0, 0, 0, 0.1) 0%,
                        rgba(0, 0, 0, 0.4) 100%
                      ),
                      url('https://cdn.usegalileo.ai/sdxl10/6d1c392f-3a17-4536-9694-f8faf11120a9.png');
                  ">
                  <div class="flex flex-col gap-2 text-left">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]">
                      Separate music into vocals and instrumentals
                    </h1>
                    <h2
                      class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      Split any song into two audio files: vocals and
                      instrumental. Perfect for making remixes,
                      karaoke tracks, or acapella versions.
                    </h2>
                  </div>
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#3b19e6] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]">
                    <span class="truncate">Upload MP3</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-10 px-4 py-10 @container">
              <div class="flex flex-col gap-4">
                <h1
                  class="text-white tracking-light text-[32px] font-bold leading-tight @[480px]:text-4xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em] max-w-[720px]">
                  What can you do with Split Sound?
                </h1>
                <p
                  class="text-white text-base font-normal leading-normal max-w-[720px]">
                  Listen to the instrumental version of your favorite
                  song or sing along to the background music. Practice
                  your musical skills or create your own remixes.
                </p>
              </div>
              <div
                class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-0">
                <div
                  class="flex flex-1 gap-3 rounded-lg border border-[#403c53] bg-[#1e1c26] p-4 flex-col">
                  <div
                    class="text-white"
                    data-icon="Microphone"
                    data-size="24px"
                    data-weight="regular">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      viewBox="0 0 256 256">
                      <path
                        d="M128,176a48.05,48.05,0,0,0,48-48V64a48,48,0,0,0-96,0v64A48.05,48.05,0,0,0,128,176ZM96,64a32,32,0,0,1,64,0v64a32,32,0,0,1-64,0Zm40,143.6V232a8,8,0,0,1-16,0V207.6A80.11,80.11,0,0,1,48,128a8,8,0,0,1,16,0,64,64,0,0,0,128,0,8,8,0,0,1,16,0A80.11,80.11,0,0,1,136,207.6Z"></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2
                      class="text-white text-base font-bold leading-tight">
                      Sing along to your favorite songs
                    </h2>
                    <p
                      class="text-[#a29db8] text-sm font-normal leading-normal">
                      Sing along to your favorite songs without the
                      original singer's voice
                    </p>
                  </div>
                </div>
                <div
                  class="flex flex-1 gap-3 rounded-lg border border-[#403c53] bg-[#1e1c26] p-4 flex-col">
                  <div
                    class="text-white"
                    data-icon="Headphones"
                    data-size="24px"
                    data-weight="regular">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      viewBox="0 0 256 256">
                      <path
                        d="M201.89,62.66A103.43,103.43,0,0,0,128.79,32H128A104,104,0,0,0,24,136v56a24,24,0,0,0,24,24H64a24,24,0,0,0,24-24V152a24,24,0,0,0-24-24H40.36A88,88,0,0,1,128,48h.67a87.71,87.71,0,0,1,87,80H192a24,24,0,0,0-24,24v40a24,24,0,0,0,24,24h16a24,24,0,0,0,24-24V136A103.41,103.41,0,0,0,201.89,62.66ZM64,144a8,8,0,0,1,8,8v40a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V144Zm152,48a8,8,0,0,1-8,8H192a8,8,0,0,1-8-8V152a8,8,0,0,1,8-8h24Z"></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2
                      class="text-white text-base font-bold leading-tight">
                      Listen to the background music only
                    </h2>
                    <p
                      class="text-[#a29db8] text-sm font-normal leading-normal">
                      Listen to the background music only to focus on
                      the melody or enjoy the beat
                    </p>
                  </div>
                </div>
                <div
                  class="flex flex-1 gap-3 rounded-lg border border-[#403c53] bg-[#1e1c26] p-4 flex-col">
                  <div
                    class="text-white"
                    data-icon="MusicNotes"
                    data-size="24px"
                    data-weight="regular">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      viewBox="0 0 256 256">
                      <path
                        d="M212.92,25.69a8,8,0,0,0-6.86-1.45l-128,32A8,8,0,0,0,72,64V174.08A36,36,0,1,0,88,204V118.25l112-28v51.83A36,36,0,1,0,216,172V32A8,8,0,0,0,212.92,25.69ZM52,224a20,20,0,1,1,20-20A20,20,0,0,1,52,224ZM88,101.75V70.25l112-28v31.5ZM180,192a20,20,0,1,1,20-20A20,20,0,0,1,180,192Z"></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2
                      class="text-white text-base font-bold leading-tight">
                      Remix songs with your own beats
                    </h2>
                    <p
                      class="text-[#a29db8] text-sm font-normal leading-normal">
                      Remix songs with your own beats and share them
                      with friends or online
                    </p>
                  </div>
                </div>
                <div
                  class="flex flex-1 gap-3 rounded-lg border border-[#403c53] bg-[#1e1c26] p-4 flex-col">
                  <div
                    class="text-white"
                    data-icon="MusicNotes"
                    data-size="24px"
                    data-weight="regular">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24px"
                      height="24px"
                      fill="currentColor"
                      viewBox="0 0 256 256">
                      <path
                        d="M212.92,25.69a8,8,0,0,0-6.86-1.45l-128,32A8,8,0,0,0,72,64V174.08A36,36,0,1,0,88,204V118.25l112-28v51.83A36,36,0,1,0,216,172V32A8,8,0,0,0,212.92,25.69ZM52,224a20,20,0,1,1,20-20A20,20,0,0,1,52,224ZM88,101.75V70.25l112-28v31.5ZM180,192a20,20,0,1,1,20-20A20,20,0,0,1,180,192Z"></path>
                    </svg>
                  </div>
                  <div class="flex flex-col gap-1">
                    <h2
                      class="text-white text-base font-bold leading-tight">
                      Practice your instrument to popular music
                    </h2>
                    <p
                      class="text-[#a29db8] text-sm font-normal leading-normal">
                      Practice your instrument to popular music
                      without the original musician playing
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style="
                    background-image: url('https://cdn.usegalileo.ai/sdxl10/31de016d-516f-4337-812d-3cdfb9bbfc48.png');
                  "></div>
                <div>
                  <p
                    class="text-white text-base font-medium leading-normal">
                    Acapella
                  </p>
                  <p
                    class="text-[#a29db8] text-sm font-normal leading-normal">
                    Record yourself singing without the original
                    singer's voice
                  </p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style="
                    background-image: url('https://cdn.usegalileo.ai/sdxl10/f498a263-21e9-4ef1-9f89-54db193cfaa5.png');
                  "></div>
                <div>
                  <p
                    class="text-white text-base font-medium leading-normal">
                    Karaoke
                  </p>
                  <p
                    class="text-[#a29db8] text-sm font-normal leading-normal">
                    Sing along to a song without the original singer's
                    voice
                  </p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style="
                    background-image: url('https://cdn.usegalileo.ai/stability/8277d535-6dd5-4368-a674-5d9370b28a2c.png');
                  "></div>
                <div>
                  <p
                    class="text-white text-base font-medium leading-normal">
                    Music Production
                  </p>
                  <p
                    class="text-[#a29db8] text-sm font-normal leading-normal">
                    Create your own music by adding beats,
                    instruments, and effects
                  </p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style="
                    background-image: url('https://cdn.usegalileo.ai/sdxl10/a01d125f-7ae1-45b0-8130-0d4b834294a5.png');
                  "></div>
                <div>
                  <p
                    class="text-white text-base font-medium leading-normal">
                    Vocal Training
                  </p>
                  <p
                    class="text-[#a29db8] text-sm font-normal leading-normal">
                    Improve your singing voice with practice exercises
                  </p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style="
                    background-image: url('https://cdn.usegalileo.ai/sdxl10/6e237e05-4730-44d9-b2b4-0c2a67490317.png');
                  "></div>
                <div>
                  <p
                    class="text-white text-base font-medium leading-normal">
                    Instrumental Play-along
                  </p>
                  <p
                    class="text-[#a29db8] text-sm font-normal leading-normal">
                    Play an instrument to the background music of a
                    song
                  </p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-xl"
                  style="
                    background-image: url('https://cdn.usegalileo.ai/sdxl10/5eaf7cd7-e9b2-4f89-9424-c8d3c211192a.png');
                  "></div>
                <div>
                  <p
                    class="text-white text-base font-medium leading-normal">
                    Remixing
                  </p>
                  <p
                    class="text-[#a29db8] text-sm font-normal leading-normal">
                    Combine different songs or sounds to make a new
                    track
                  </p>
                </div>
              </div>
            </div>
            <div class="@container">
              <div
                class="flex flex-col gap-6 px-4 py-10 @[480px]:gap-8 @[864px]:flex-row">
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl @[480px]:h-auto @[480px]:min-w-[400px] @[864px]:w-full"
                  style="
                    background-image: url('https://cdn.usegalileo.ai/sdxl10/576a6cfc-dad6-403e-84c2-8707228402b7.png');
                  "></div>
                <div
                  class="flex flex-col gap-6 @[480px]:min-w-[400px] @[480px]:gap-8 @[864px]:justify-center">
                  <div class="flex flex-col gap-2 text-left">
                    <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]">
                      How does it work?
                    </h1>
                    <h2
                      class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      Step 1: Upload an MP3 file of the song you want
                      to separate. Step 2: We'll use AI to analyze the
                      music and create two new audio files: one with
                      just the vocals and one with just the
                      instrumental. Step 3: Download your new audio
                      files and use them however you like!
                    </h2>
                  </div>
                  <label
                    class="flex flex-col min-w-40 h-14 w-full max-w-[480px] @[480px]:h-16">
                    <div
                      class="flex w-full flex-1 items-stretch rounded-xl h-full">
                      <div
                        class="text-[#a29db8] flex border-none bg-[#2b2938] items-center justify-center pl-4 rounded-l-xl border-r-0"
                        data-icon="MagnifyingGlass"
                        data-size="20px"
                        data-weight="regular">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20px"
                          height="20px"
                          fill="currentColor"
                          viewBox="0 0 256 256">
                          <path
                            d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
                        </svg>
                      </div>
                      <input
                        placeholder="Upload MP3"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border-none bg-[#2b2938] focus:border-none h-full placeholder:text-[#a29db8] px-4 rounded-r-none border-r-0 pr-2 rounded-l-none border-l-0 pl-2 text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal"
                        value="" />
                      <div
                        class="flex items-center justify-center rounded-r-xl border-l-0 border-none bg-[#2b2938] pr-2">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#3b19e6] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]">
                          <span class="truncate"
                            >Start splitting</span
                          >
                        </button>
                      </div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
